@{
    ViewBag.Title = "Contact";
}

<div class="RegBox">
    <div class="ContactRegBox">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            2200 Woodward Ave.<br />
            Detroit, MI 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            313.555.0100
        </address>

        <address>
            <p><strong>Support:</strong></p>
            <p><a href="mailto:Support@CoffeShop.com">Support@CoffeeShop.com</a></p>
            <p></p><strong>Marketing:</strong>
            <p><a href="mailto:Marketing@CoffeeShop.com">Marketing@CoffeeShop.com</a></p>
        </address>
    </div>
</div>